*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    font-weight: normal;
    font-style: normal;
}
* dl, * ol, * ul {
    padding: 0;
    margin: 0;
}
:root{
    --mainColor: #043b52;
    --hoverColor: rgb(194, 65, 55);
    --hoverColorTwo: rgb(251, 255, 16);
}
* .black{
    color: var(--mainColor);
}
* a.white.black{
    color: var(--mainColor);
}
/* * a.white.black{
    color: #fff;
} */
/* header section start  */
header{
    position: relative;
}
.headerTop{
    padding: 3px 0;
    background-color: rgb(238, 238, 238);
}
.headerTop .topBlog{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerTop .linkInfo ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
}
.headerTop .linkInfo ul li{
    border-right: 1px solid #043b52;
    padding: 0 5px;
    list-style: none;
}
.headerTop .linkInfo ul li:first-child{
    padding-left: 0;
    border-right: none;
}
.headerTop .linkInfo ul li:last-child{
    border-right: none;
}
.headerTop .linkInfo .uzbInfo{
    padding: 5px 10px;
    border-radius: 10px;
    background: #043b52;
    display: flex;
    align-items: center;
}
.headerTop .linkInfo .item a{
    transition: all .3s ease;
    display: inline-block;
    text-decoration: none;
    /* color: #043b52; */
}
.headerTop .linkInfo .item a i{
    margin-right: 3px;  
}
.headerTop .linkInfo .item a:hover{
    color: var(--hoverColor);
}
.headerTop .linkInfo .uzbInfo .item{
    margin-right: 4px;
}
.headerTop .linkInfo .uzbInfo .item:last-child{
    margin-right: 0;
}
.headerTop .linkInfo ul li:first-child{
    padding-left: 0;
}
.headerTop .linkInfo ul li img{
    width: 24px;
}
.headerTop .linkInfo .item.gerb img{
    width: 30px;
}
.headerTop .linkInfo .item.madhiya img{
    width: 22px;
}
.headerTop .btnsSettings{
    z-index: 999;
}
.headerTop .btnsSettings ul{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.headerTop .btnsSettings ul li{
    cursor: pointer;
    padding: 0 5px;
    list-style: none;
}
.headerTop .uzbInfo .item{
    position: relative;
}
.headerTop .uzbInfo .item .infoItem{
    background-color: var(--mainColor);
    position: absolute;
    left: -15px;
    top: 38px;
    width: 220px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    display: none;
    z-index: 999;
}
.headerTop .uzbInfo .item .infoItem::after{
    content: '';
    position: absolute;
    top: -5px;
    left: 20px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background: var(--mainColor);
    background-position: center;
    background-size: cover;
}
.headerTop .uzbInfo .item .infoItem.active{
    display: block;
}
.headerTop .uzbInfo .item.gerb .infoItem{
    left: -10px;
}
.headerTop .uzbInfo .item .infoItem.active{
    display: block;
}
.headerTop .btnsSettings ul li img{
    width: 20px;
}
.headerTop .btnsSettings ul li .zoomPlus{
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}
.headerTop .btnsSettings ul li .zoomMinus{
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.headerTop .DayNightStyle .item{
    display: none;
}
.headerTop .DayNightStyle .item.active{
    display: block;
}
.headerTop .languages{
    transition: all 0.03s ease;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    overflow: hidden;
    width: 65px;
    height: 35px;
    padding: 5px;
    border-radius: 10px;
    background-color: #043b52;
    /* height: 100%; */
}
.headerTop .btnsSettings ul li.flags{
    position: absolute;
    top: 0px;
    left: -70px;
}
.headerTop .languages .language{
    order: 2;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.headerTop .languages .language.active{
    order: 1;
}
.headerTop .languages .language.active span{
    font-size: 14px;
}
.headerTop .languages .language.active img{
    width: 25px;
}
.headerTop .languages .language span{
    color: #fff;
    font-size: 12px;
    text-transform: lowercase;
    margin-left: 5px;
    font-weight: 600;
}
.headerTop .languages .language:hover span{
    color: var(--hoverColorTwo);
}
.headerTop .languages .language img{
    width: 20px;
}
.headerTop ul li.loginEnter{
    padding: 5px 10px;
    background: #043b52;
    border-radius: 10px;
}
.headerTop ul li.loginEnter .login{
    position: relative;
}
.headerTop ul li.loginEnter span{
    color: #fff;
    text-transform: uppercase;
}
.headerTop ul li.loginEnter span img{
    margin-right: 5px;
}
.headerTop .login .toHemis{
    display: none;
    padding: 5px 10px 5px 15px;
    position: absolute;
    right: -10px;
    bottom: -70px;
    width: 120px;
    background-color: #043b52;
    border-radius: 10px;
}
.headerTop .login .toHemis::after{
    content: '';
    position: absolute;
    top: -4px;
    right: 20px;
    width: 10px;
    height: 10px;
    background: var(--mainColor);
    transform: rotate(45deg);
}
.headerTop .login .toHemis::before{
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
}
.headerTop .login .toHemis a{
    transition: all .3s ease;
    color: #fff;
    display: inline-block;
    text-decoration: none;
}
.headerTop .login .toHemis a:hover{
    color: var(--hoverColorTwo);
}
.headerTop .login .toHemis a i{
    position: relative;
    right: 5px;
}
.banner .secretMenu{
    z-index: 9999;
    position: relative;
    background: #fff;
}
.banner .secretMenu .asosiy .viewMenuAll{
    display: none;
}
.banner .secretMenu.active::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
    background-color: #fff;
    z-index: -2;
    box-shadow: 0 5px 5px rgba(4, 59, 82, .75);
}
.banner .secretMenu.active::before{
    content: '';
    position: absolute;
    top: 30px;
    left: 20px;
    height: 400px;
    width: 400px;
    background: url('../images/vectors/menuImg.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 65%;
    z-index: 1;
}
.banner .secretMenuSection{
    display: none;
    z-index: -2;
    padding: 20px 0;
    box-shadow: 0 3px 3px rgba(4, 59, 82, .75);
    background-color: rgb(238, 238, 238);
}
.banner .secretMenu .asosiy .viewMenuAll.active{
    display: block;
    position: relative;
}
.banner .secretMenu .viewMenuAll.active .itemList{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner .secretMenu .viewMenuAll.active .itemList li{
    list-style: none;
}
.banner .secretMenu .viewMenuAll.active .itemList li a{
    position: relative;
    transition: all .3s ease;
    display: inline-block;
    color: #043b52;
    text-decoration: none;
    font-weight: 600;
    z-index: 99;
}
.banner .secretMenu .viewMenuAll.active .miniMenuItem.active a{
    color: var(--hoverColor);
}
.banner .secretMenu .viewMenuAll.active .miniMenuItem.active a::after{
    content: '';
    position: absolute;
    top: -10px;
    left: -20%;
    width: 140%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    z-index: -1;
}
.banner .secretMenu .viewMenuAll.active .itemList li a:hover{
    color: var(--hoverColor);
}

.banner .secretMenu .asosiy .viewMenuAll.active .miniMenu{
    display: none;
}
.banner .secretMenu .asosiy .viewMenuAll.active .miniMenu.active{
    position: absolute;
    top: 90px;
    left: 0;
    display: block;
}
.banner .secretMenu .viewMenuAll.active .miniMenu.active li{
    margin-bottom: 15px;
}
.banner .secretMenu .viewMenuAll.active .miniMenu.active li a{
    font-weight: 400;
}
/* header section end  */

/* banner section style start  */
.banner{
    overflow: hidden;
    height: 95vh;
}
.banner .bannerHeader{
    background: rgba(4, 59, 82, .75);
    padding: 10px 0;
    position: relative;
    z-index: 99;
}
.banner .bannerHeader .forBackgraound{
    position: relative;
}
@keyframes anim01 {
    0%{
        top: -80px;
        left: -150px;
    }
    50%{
        top: -80px;
        left: -300px;
    }
    100%{
        top: -80px;
        left: -150px;
    }
}
.banner .bannerHeader .forBackgraound img{
    position: absolute;
    width: 100%;
    object-fit: cover;
    top: -80px;
    left: -150px;
    width: 130%;
    z-index: -1;
    animation-name: anim01;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
.banner .bannerLogoNavbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .bannerLogoNavbar .mainLogo img{
    width: 35%;
}
.banner .bannerLogoNavbar .navbar ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.banner .navbar ul li{
    list-style: none;
    padding: 0 10px;
}
.banner .navbar ul li:last-child{
    padding-right: 0;
}
.banner .navbar ul li a{
    position: relative;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    transition: all .3s ease;
}
.banner .navbar ul li a:hover{
    color: var(--hoverColor);
}
.banner .navbar ul li.active a::after{
    content: '';
    position: absolute;
    top: -20px;
    left: -20%;
    width: 140%;
    height: 90px;
    background-color: rgb(238, 238, 238);
    border-radius: 15px;
    z-index: -1;
}
.banner .navbar ul li.active a{
    color: var(--hoverColor);
}
/* banner section style end  */


/* banner slider sectin start  */
.banner .sliderBanner{
    z-index: 98;
    position: relative;
    top: -150px;
    left: 0;
}
.banner .swiper{
    width: 100%;
    height: 100vh;
}
.banner .sliderImage{
    transition: all .5s ease;
    width: 100%;
}
.banner .sliderImage img{
    width: 100%;
    object-fit: cover;
}
/* banner slider section  end */

